html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

:root {
  --bg-main-color: #f1f1f1;
  --bg-second-color: #fff;
  --catalog-text-color: #121723;
  --promo-text-color: #292e39;
  --footer-main-color: #121723;
}

body {
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--bg-main-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*
  font-family: 'Anonymous Pro', monospace;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
*/

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Logo */
.logo {
  transition: opacity ease 0.2s;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.3;
}

/* Header */
.header {
  background-color: var(--bg-second-color);
  border-bottom: 1px solid #a1a6b4;
  margin-bottom: 25px;
}

.header__row {
  padding: 30px 0;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */
.nav--dark {
  color: #000;
}

.nav--light {
  color: #fff;
}

.nav__list {
  display: flex;
  column-gap: 24px;
}

.nav__list-item {
  font-weight: 700;
}

/* Burger */
.burger {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
}

@media (max-width: 550px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: flex;
  }
}

.burger__row {
  position: relative;
  width: 44px;
  height: 18px;
}

.burger__line {
  position: absolute;
  display: block;
  width: 44px;
  height: 3px;
  background-color: #000;
}

.burger__line--1 {
  top: 0;
}

.burger__line--2 {
  top: 8px;
}

.burger__line--3 {
  top: 16px;
}

/* NavLink */
.nav__list-item-link {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.nav__list-item-link::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform ease 0.2s;
}

.nav__list-item-link:hover::before {
  transform: scaleX(1);
}

.nav__list-item-link:active {
  opacity: 0.2;
  transition: none;
}

/* Catalog */
.catalog {
  color: var(var(--catalog-text-color));
}

.catalog__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  word-break: break-word;
}

.catalog__title-mobile {
  display: none;
}

@media (max-width: 610px) {
  .catalog__title {
    font-size: 24px;
  }

  .catalog__title-mobile {
    display: block;
  }

  .catalog__title-default {
    display: none;
  }
}


.catalog__title--mono {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
}

/* Catalog List */
.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 27px;
}

@media (max-width: 1050px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .catalog__list {
    display: block;
    column-count: 2;
    column-gap: 24px;
  }
}

/* ProductCard */
.product {
  overflow: hidden;
  max-width: 375px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.product__row {
  transition: filter ease .3s;
}

.product__row:hover {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.product__preview {
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}

.product__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (pointer: fine) {
  .product__image {
    transition: transform linear 2s;
  }

  .product__link:hover .product__image {
    transform: scale(1.3);
  }
}

.product__info {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding-top: 27px;
  padding-bottom: 32px;
  padding-right: 24px;
  padding-left: 24px;
}

.product__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product__desc {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 610px) {
  .product__title {
    font-size: 16px;
  }

  .product__desc {
    font-size: 14px;
  }

  .product__info {
    padding-top: 18px;
    padding-bottom: 11px;
  }
}

/* Default */
#default {
  padding-top: 25px;
}

/* Stories */
#stories {
  padding-top: 25px;
}

/* Footer */
.footer {
  background-color: var(--footer-main-color);
}

.footer__row {
  padding-top: 32px;
  padding-bottom: 21px;
}

/* Footer Top */
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}

@media (max-width: 420px) {
  .footer__top {
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 35px;
  }
}

/* Footer Bottom */
.footer__bottom {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}

.copyright {
  color: #a1a6b4;
  font-size: 16px;
  font-weight: 700;
}
